header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* =============== CTA =============== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* =============== HEADER SOCIALS =============== */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 1rem;
}

.header__socials::before {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* =============== ME =============== */
.me {
    position: absolute;
    margin-top: 3rem;
    width: 30rem;
    height: 29rem;
    left: calc(50% - 15rem);
    border: 1px solid var(--color-primary);
    border-radius: 12rem 12rem 0 0 ;
    overflow: hidden;
}

/* =============== SCROLL DOWN =============== */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    transition: var(--transition);
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px){
    header {
        height: 68vh;
    }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px){

    header {
        height: 100vh;
        position: relative;
        padding-top: 3rem;
        margin-bottom: -150px;
    }

    .header__container {
        text-align: center;
        height: 100vh;
        position: relative;
        line-height: 3rem;
        font-size: 1rem;
    }

    /* =============== HEADER SOCIALS =============== */
    .header__socials, .scroll__down {
        display: none;
    }

    /* =============== CTA =============== */
    .cta {
        margin-top: 2rem;
        margin-bottom: 1rem;
        display: flex;
        gap: 1.2rem;
        justify-content: center;
    }

    .cta a {
        line-height: 1.2rem;
        padding: 0.5rem;
        border: 1px solid var(--color-primary);
        border-radius: 2rem;
    }

    /* =============== ME =============== */
    .me {
        position: relative;
        margin-top: 4rem;
        width: 18rem;
        height: 18rem;
        left: calc(50% - 9rem);
        border: 0.5px solid var(--color-primary);
        border-radius: 12rem 12rem 0 0 ;
        overflow: hidden;
    }
}